QToolTip {
    border: 1px solid <tooltip_border_color>;
    background-color: <tooltip_background_color>;
    color: <tooltip_color>;
    padding: 0px;                /*remove padding, for fix combobox tooltip.*/
    /*opacity: 200;*/
}

QWidget {
    color: <foreground_color>;
    background-color: <background_color>;
    selection-background-color: <selection_background_color>;
    selection-color: <foreground_color>;
    background-clip: border;
    border-image: none;
    border: 0px transparent <border_color>;
    outline: 0;
}

QWidget:item:hover {
    background-color: <background_color>;
    color: <foreground_color>;
}

QWidget:item:selected {
    background-color: <background_color>;
}

QCheckBox {
    spacing: 5px;
    outline: none;
    color: <foreground_color>;
    margin-bottom: 2px;
}

QCheckBox:disabled {
    color: <disabled_color>;
}

QCheckBox::indicator,
QGroupBox::indicator {
    width: 18px;
    height: 18px;
}

QGroupBox::indicator {
    margin-left: 2px;
}

QCheckBox::indicator:unchecked,
QGroupBox::indicator:unchecked {
    image: url(:/qss_icons/darkstyle_icons/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:focus,
QCheckBox::indicator:unchecked:pressed,
QGroupBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked:focus,
QGroupBox::indicator:unchecked:pressed {
    border: none;
    image: url(:/qss_icons/darkstyle_icons/checkbox_unchecked_focus.png);
}

QCheckBox::indicator:checked,
QGroupBox::indicator:checked {
    image: url(:/qss_icons/darkstyle_icons/checkbox_checked.png);
}

QCheckBox::indicator:checked:hover,
QCheckBox::indicator:checked:focus,
QCheckBox::indicator:checked:pressed,
QGroupBox::indicator:checked:hover,
QGroupBox::indicator:checked:focus,
QGroupBox::indicator:checked:pressed {
    border: none;
    image: url(:/qss_icons/darkstyle_icons/checkbox_checked_focus.png);
}

QCheckBox::indicator:indeterminate {
    image: url(:/qss_icons/darkstyle_icons/checkbox_indeterminate.png);
}

QCheckBox::indicator:indeterminate:focus,
QCheckBox::indicator:indeterminate:hover,
QCheckBox::indicator:indeterminate:pressed {
    image: url(:/qss_icons/darkstyle_icons/checkbox_indeterminate_focus.png);
}

QCheckBox::indicator:checked:disabled,
QGroupBox::indicator:checked:disabled {
    image: url(:/qss_icons/darkstyle_icons/checkbox_checked_disabled.png);
}

QCheckBox::indicator:unchecked:disabled,
QGroupBox::indicator:unchecked:disabled {
    image: url(:/qss_icons/darkstyle_icons/checkbox_unchecked_disabled.png);
}

QRadioButton {
    spacing: 5px;
    outline: none;
    color: <foreground_color>;
    margin-bottom: 2px;
}

QRadioButton:disabled {
    color: <disabled_color>;
}

QRadioButton::indicator {
    width: 21px;
    height: 21px;
}

QRadioButton::indicator:unchecked {
    image: url(:/qss_icons/darkstyle_icons/radio_unchecked.png);
}

QRadioButton::indicator:unchecked:hover,
QRadioButton::indicator:unchecked:focus,
QRadioButton::indicator:unchecked:pressed {
    border: none;
    outline: none;
    image: url(:/qss_icons/darkstyle_icons/radio_unchecked_focus.png);
}

QRadioButton::indicator:checked {
    border: none;
    outline: none;
    image: url(:/qss_icons/darkstyle_icons/radio_checked.png);
}

QRadioButton::indicator:checked:hover,
QRadioButton::indicator:checked:focus,
QRadioButton::indicator:checked:pressed {
    border: none;
    outline: none;
    image: url(:/qss_icons/darkstyle_icons/radio_checked_focus.png);
}

QRadioButton::indicator:checked:disabled {
    outline: none;
    image: url(:/qss_icons/darkstyle_icons/radio_checked_disabled.png);
}

QRadioButton::indicator:unchecked:disabled {
    image: url(:/qss_icons/darkstyle_icons/radio_unchecked_disabled.png);
}

QMenuBar {
    background-color: <background_color>;
    color: <foreground_color>;
}

QMenuBar::item {
    background: transparent;
}

QMenuBar::item:selected {
    background: <selection_background_color>;
    border: 1px solid <border_color>;;
}

QMenuBar::item:pressed {
    border: 1px solid <border_color>;
    background-color: <selection_background_color>;
    color: <foreground_color>;
    margin-bottom: -1px;
    padding-bottom: 1px;
}

QMenu {
    border: none;
    color: <foreground_color>;
    margin: 2px;
}

QMenu::icon {
    margin: 5px;
}

QMenu::item {
    padding: 5px 30px 5px 30px;
    border: 1px solid transparent;
    /* reserve space for selection border */
}

QMenu::item:selected {
    background-color: <selection_background_color>;
    color: <foreground_color>;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 18px;
    height: 18px;
}


/* non-exclusive indicator = check box style indicator
   (see QActionGroup::setExclusive) */

QMenu::indicator:non-exclusive:unchecked {
    image: url(:/qss_icons/darkstyle_icons/checkbox_unchecked.png);
}

QMenu::indicator:non-exclusive:unchecked:selected {
    image: url(:/qss_icons/darkstyle_icons/checkbox_unchecked_disabled.png);
}

QMenu::indicator:non-exclusive:checked {
    image: url(:/qss_icons/darkstyle_icons/checkbox_checked.png);
}

QMenu::indicator:non-exclusive:checked:selected {
    image: url(:/qss_icons/darkstyle_icons/checkbox_checked_disabled.png);
}


/* exclusive indicator = radio button style indicator (see QActionGroup::setExclusive) */

QMenu::indicator:exclusive:unchecked {
    image: url(:/qss_icons/darkstyle_icons/radio_unchecked.png);
}

QMenu::indicator:exclusive:unchecked:selected {
    image: url(:/qss_icons/darkstyle_icons/radio_unchecked_disabled.png);
}

QMenu::indicator:exclusive:checked {
    image: url(:/qss_icons/darkstyle_icons/radio_checked.png);
}

QMenu::indicator:exclusive:checked:selected {
    image: url(:/qss_icons/darkstyle_icons/radio_checked_disabled.png);
}

QMenu::right-arrow {
    margin: 5px;
    image: url(:/qss_icons/darkstyle_icons/right_arrow.png)
}

QWidget:disabled {
    color: <disabled_color>;
    background-color: <background_color>;
}

QAbstractItemView {
    alternate-background-color: <background_color>;
    color: <foreground_color>;
    border: 1px solid <border_color>;
    border-radius: 2px;
}

QWidget:focus,
QMenuBar:focus {
    border: 1px solid none;
}

QTabWidget:focus,
QCheckBox:focus,
QRadioButton:focus,
QSlider:focus {
    border: none;
}

QLineEdit {
    background-color: <edit_background_color>;
    padding: 5px;
    border-style: solid;
    border: 1px solid <border_color>;
    border-radius: 2px;
    color: <foreground_color>;
}

QAbstractItemView QLineEdit {
    padding: 0;
}

QGroupBox {
    border: 1px solid <border_color>;
    border-radius: 2px;
    margin-top: 20px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

QAbstractScrollArea {
    border-radius: 2px;
    border: 1px solid <border_color>;
    background-color: transparent;
}

QScrollBar:horizontal {
    height: 15px;
    margin: 3px 15px 3px 15px;
    border: 1px transparent <border_color>;
    border-radius: 4px;
    background-color: <scroll_background_color>;
}

QScrollBar::handle:horizontal {
    background-color: <scroll_foreground_color>;
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/qss_icons/darkstyle_icons/right_arrow_disabled.png);
    width: 10px;
    height: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(:/qss_icons/darkstyle_icons/left_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,
QScrollBar::add-line:horizontal:on {
    border-image: url(:/qss_icons/darkstyle_icons/right_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover,
QScrollBar::sub-line:horizontal:on {
    border-image: url(:/qss_icons/darkstyle_icons/left_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal {
    background: none;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background-color: <scroll_background_color>;
    width: 15px;
    margin: 15px 3px 15px 3px;
    border: 1px transparent <border_color>;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background-color: <scroll_foreground_color>;
    min-height: 5px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/qss_icons/darkstyle_icons/up_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(:/qss_icons/darkstyle_icons/down_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,
QScrollBar::sub-line:vertical:on {
    border-image: url(:/qss_icons/darkstyle_icons/up_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover,
QScrollBar::add-line:vertical:on {
    border-image: url(:/qss_icons/darkstyle_icons/down_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    background: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

QTextEdit {
    background-color: <edit_background_color>;
    color: <foreground_color>;
    border: 1px solid <border_color>;
}

QPlainTextEdit {
    background-color: <edit_background_color>;
    ;
    color: <foreground_color>;
    border-radius: 2px;
    border: 1px solid <border_color>;
}

QHeaderView::section {
    background-color: <border_color>;
    color: <foreground_color>;
    padding: 5px;
    border: 1px solid <border_color>;
}

QSizeGrip {
    image: url(:/qss_icons/darkstyle_icons/sizegrip.png);
    width: 12px;
    height: 12px;
}

QMainWindow::separator {
    background-color: <background_color>;
    color: white;
    padding-left: 4px;
    spacing: 2px;
    border: 1px dashed <border_color>;
}

QMainWindow::separator:hover {
    background-color: <background_color>;
    color: white;
    padding-left: 4px;
    border: 1px solid <border_color>;
    spacing: 2px;
}

QMenu::separator {
    height: 1px;
    background-color: <border_color>;
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QFrame {
    border-radius: 2px;
    border: 1px solid <border_color>;
}

QFrame[frameShape="0"] {
    border-radius: 2px;
    border: 1px transparent <border_color>;
}

QStackedWidget {
    border: 1px transparent black;
}

QToolBar {
    border: 1px transparent <border_color>;
    background: 1px solid <background_color>;
    font-weight: bold;
}

QToolBar::handle:horizontal {
    image: url(:/qss_icons/darkstyle_icons/Hmovetoolbar.png);
}

QToolBar::handle:vertical {
    image: url(:/qss_icons/darkstyle_icons/Vmovetoolbar.png);
}

QToolBar::separator:horizontal {
    image: url(:/qss_icons/darkstyle_icons/Hsepartoolbar.png);
}

QToolBar::separator:vertical {
    image: url(:/qss_icons/darkstyle_icons/Vsepartoolbar.png);
}

QToolButton#qt_toolbar_ext_button {
    background: <background_color>;
}

QPushButton {
    color: <foreground_color>;
    background-color: <background_color>;
    border-width: 1px;
    border-color: <border_color>;
    border-style: solid;
    padding: 5px;
    border-radius: 2px;
    outline: none;
}

QPushButton:disabled {
    background-color: <background_color>;
    border-width: 1px;
    border-color: <border_color>;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    color: <disabled_color>;
}

QPushButton:focus {
    background-color: <selection_background_color>;
    color: white;
}

QPushButton:pressed {
    background-color: <selection_background_color>;
    padding-top: -15px;
    padding-bottom: -17px;
}

QComboBox {
    selection-background-color: <selection_background_color>;
    border-style: solid;
    border: 1px solid <border_color>;
    border-radius: 2px;
    padding: 5px;
    min-width: 75px;
    background-color: #000000;
}

QPushButton:checked {
    background-color: <tooltip_color>;
    border-color: <selection_background_color>;
}

QComboBox:hover,
QPushButton:hover,
QAbstractSpinBox:hover,
QLineEdit:hover,
QTextEdit:hover,
QPlainTextEdit:hover,
QAbstractView:hover,
QTreeView:hover {
    border: 1px solid <selection_background_color>;
    color: <foreground_color>;
}

QComboBox:on {
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: <selection_background_color>;
}

QComboBox QAbstractItemView {
    background-color: <edit_background_color>;
    border-radius: 2px;
    border: 1px solid <border_color>;
    selection-background-color: <background_color>;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    image: url(:/qss_icons/darkstyle_icons/down_arrow_disabled.png);
}

QComboBox::down-arrow:on,
QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus {
    image: url(:/qss_icons/darkstyle_icons/down_arrow.png);
}

QAbstractSpinBox {
    padding: 5px;
    border: 1px solid <border_color>;
    background-color: <edit_background_color>;
    color: <foreground_color>;
    border-radius: 2px;
    min-width: 75px;
}

QAbstractSpinBox:up-button {
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: center right;
}

QAbstractSpinBox:down-button {
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: center left;
}

QAbstractSpinBox::up-arrow,
QAbstractSpinBox::up-arrow:disabled,
QAbstractSpinBox::up-arrow:off {
    image: url(:/qss_icons/darkstyle_icons/up_arrow_disabled.png);
    width: 10px;
    height: 10px;
}

QAbstractSpinBox::up-arrow:hover {
    image: url(:/qss_icons/darkstyle_icons/up_arrow.png);
}

QAbstractSpinBox::down-arrow,
QAbstractSpinBox::down-arrow:disabled,
QAbstractSpinBox::down-arrow:off {
    image: url(:/qss_icons/darkstyle_icons/down_arrow_disabled.png);
    width: 10px;
    height: 10px;
}

QAbstractSpinBox::down-arrow:hover {
    image: url(:/qss_icons/darkstyle_icons/down_arrow.png);
}

QLabel {
    border: 0px solid black;
}

QTabWidget {
    border: 0px transparent black;
}

QTabWidget::pane {
    border: 1px solid <border_color>;
    padding: 5px;
    margin: 0px;
}

QTabWidget::tab-bar {
    /* left: 5px; move to the right by 5px */
}

QTabBar {
    qproperty-drawBase: 0;
    border-radius: 3px;
}

QTabBar:focus {
    border: 0px transparent black;
}

QTabBar::close-button {
    image: url(:/qss_icons/darkstyle_icons/close.png);
    background: transparent;
}

QTabBar::close-button:hover {
    image: url(:/qss_icons/darkstyle_icons/close-hover.png);
    background: transparent;
}

QTabBar::close-button:pressed {
    image: url(:/qss_icons/darkstyle_icons/close-pressed.png);
    background: transparent;
}


/* TOP TABS */

QTabBar::tab:top {
    color: <foreground_color>;
    border: 1px solid <border_color>;
    border-bottom: 1px transparent black;
    background-color: <background_color>;
    padding: 5px;
    min-width: 50px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QTabBar::tab:top:selected {
    color: <foreground_color>;
    background-color: <selection_background_color>;
    border: 1px solid <border_color>;
    border-bottom: 2px solid <selection_highlight_color>;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QTabBar::tab:top:!selected:hover {
    background-color: <selection_highlight_color>;
    color: <edit_background_color>;
}


/* BOTTOM TABS */

QTabBar::tab:bottom {
    color: <foreground_color>;
    border: 1px solid <border_color>;
    border-top: 1px transparent black;
    background-color: <background_color>;
    padding: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    min-width: 50px;
}

QTabBar::tab:bottom:selected {
    color: <foreground_color>;
    background-color: <background_color>;
    border: 1px solid <border_color>;
    border-top: 2px solid <selection_background_color>;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTabBar::tab:bottom:!selected:hover {
    background-color: <selection_background_color>;
}


/* LEFT TABS */

QTabBar::tab:left {
    color: <foreground_color>;
    border: 1px solid <border_color>;
    border-left: 1px transparent black;
    background-color: <background_color>;
    padding: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    min-height: 50px;
}

QTabBar::tab:left:selected {
    color: <foreground_color>;
    background-color: <background_color>;
    border: 1px solid <border_color>;
    border-left: 2px solid <selection_background_color>;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTabBar::tab:left:!selected:hover {
    background-color: <selection_background_color>;
}


/* RIGHT TABS */

QTabBar::tab:right {
    color: <foreground_color>;
    border: 1px solid <border_color>;
    border-right: 1px transparent black;
    background-color: <background_color>;
    padding: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    min-height: 50px;
}

QTabBar::tab:right:selected {
    color: <foreground_color>;
    background-color: <selection_background_color>;
    border: 1px solid <border_color>;
    border-right: 2px solid <selection_background_color>;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

QTabBar::tab:right:!selected:hover {
    background-color: <selection_background_color>;
}

QTabBar QToolButton::right-arrow:enabled {
    image: url(:/qss_icons/darkstyle_icons/right_arrow.png);
}

QTabBar QToolButton::left-arrow:enabled {
    image: url(:/qss_icons/darkstyle_icons/left_arrow.png);
}

QTabBar QToolButton::right-arrow:disabled {
    image: url(:/qss_icons/darkstyle_icons/right_arrow_disabled.png);
}

QTabBar QToolButton::left-arrow:disabled {
    image: url(:/qss_icons/darkstyle_icons/left_arrow_disabled.png);
}

QDockWidget {
    background: <background_color>;
    border: 1px solid <border_color>;
    titlebar-close-icon: url(:/qss_icons/darkstyle_icons/close.png);
    titlebar-normal-icon: url(:/qss_icons/darkstyle_icons/undock.png);
}

QDockWidget::close-button,
QDockWidget::float-button {
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;
}

QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
    background: rgba(255, 255, 255, 10);
}

QDockWidget::close-button:pressed,
QDockWidget::float-button:pressed {
    padding: 1px -1px -1px 1px;
    background: rgba(255, 255, 255, 10);
}

QTreeView,
QListView {
    border: 1px solid <border_color>;
    background-color: <edit_background_color>;
}

QTreeView:branch:selected,
QTreeView:branch:hover {
    background: url(:/qss_icons/darkstyle_icons/transparent.png);
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(:/qss_icons/darkstyle_icons/transparent.png);
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:/qss_icons/darkstyle_icons/transparent.png);
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(:/qss_icons/darkstyle_icons/transparent.png);
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    image: url(:/qss_icons/darkstyle_icons/branch_closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
    image: url(:/qss_icons/darkstyle_icons/branch_open.png);
}

QTreeView::branch:has-children:!has-siblings:closed:hover,
QTreeView::branch:closed:has-children:has-siblings:hover {
    image: url(:/qss_icons/darkstyle_icons/branch_closed-on.png);
}

QTreeView::branch:open:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:has-siblings:hover {
    image: url(:/qss_icons/darkstyle_icons/branch_open-on.png);
}

QListView::item:!selected:hover,
QTreeView::item:!selected:hover {
    background: <background_color>;
    outline: 0;
    color: <foreground_color>
}

QListView::item:selected,
QTreeView::item:selected,
QListView::item:selected:hover,
QTreeView::item:selected:hover {
    background: <selection_background_color>;
    color: <foreground_color>;
}

QTreeView::indicator:checked,
QListView::indicator:checked {
    image: url(:/qss_icons/darkstyle_icons/checkbox_checked.png);
}

QTreeView::indicator:unchecked,
QListView::indicator:unchecked {
    image: url(:/qss_icons/darkstyle_icons/checkbox_unchecked.png);
}

QTreeView::indicator:indeterminate,
QListView::indicator:indeterminate {
    image: url(:/qss_icons/darkstyle_icons/checkbox_indeterminate.png);
}

QTreeView::indicator:checked:hover,
QTreeView::indicator:checked:focus,
QTreeView::indicator:checked:pressed,
QListView::indicator:checked:hover,
QListView::indicator:checked:focus,
QListView::indicator:checked:pressed {
    image: url(:/qss_icons/darkstyle_icons/checkbox_checked_focus.png);
}

QTreeView::indicator:unchecked:hover,
QTreeView::indicator:unchecked:focus,
QTreeView::indicator:unchecked:pressed,
QListView::indicator:unchecked:hover,
QListView::indicator:unchecked:focus,
QListView::indicator:unchecked:pressed {
    image: url(:/qss_icons/darkstyle_icons/checkbox_unchecked_focus.png);
}

QTreeView::indicator:indeterminate:hover,
QTreeView::indicator:indeterminate:focus,
QTreeView::indicator:indeterminate:pressed,
QListView::indicator:indeterminate:hover,
QListView::indicator:indeterminate:focus,
QListView::indicator:indeterminate:pressed {
    image: url(:/qss_icons/darkstyle_icons/checkbox_indeterminate_focus.png);
}


QSlider::groove {
    border: 1px solid <border_color>;
    background: <edit_background_color>;
    height: 6px;
    border-radius: 3px;
}
QSlider::sub-page {
    border: 1px solid <border_color>;
    background: <scroll_foreground_color>;
    height: 6px;
    border-radius: 3px;
}
QSlider::add-page {
    border: 1px solid <border_color>;
    background: <edit_background_color>;
    height: 6px;
    border-radius: 3px;
}
QSlider::handle {
    background: <scroll_foreground_color>;
    height: 12px;
    width: 12px;
    margin-bottom: -4px;
    margin-top: -4px;
    border: 1px solid <selection_highlight_color>;
    border-radius: 5px;
}


QToolButton {
    background-color: transparent;
    border: 1px transparent <border_color>;
    border-radius: 2px;
    margin: 0px;
    padding: 5px;
}

QToolButton[popupMode="1"] {
    /* only for MenuButtonPopup */
    padding-right: 20px;
    /* make way for the popup button */
    border: 1px <border_color>;
    border-radius: 5px;
}

QToolButton[popupMode="2"] {
    /* only for InstantPopup */
    padding-right: 10px;
    /* make way for the popup button */
    border: 1px <border_color>;
}

QToolButton:hover,
QToolButton::menu-button:hover {
    background-color: transparent;
    border: 1px solid <selection_background_color>;
    padding: 5px;
}

QToolButton:checked,
QToolButton:pressed,
QToolButton::menu-button:pressed {
    background-color: <selection_background_color>;
    border: 1px solid <selection_background_color>;
    padding: 5px;
}


/* the subcontrol below is used only in the InstantPopup or DelayedPopup mode */

QToolButton::menu-indicator {
    image: url(:/qss_icons/darkstyle_icons/down_arrow.png);
    top: -7px;
    left: -2px;
    /* shift it a bit */
}


/* the subcontrols below are used only in the MenuButtonPopup mode */

QToolButton::menu-button {
    border: 1px transparent <border_color>;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* 16px width + 4px for border = 20px allocated above */
    width: 16px;
    outline: none;
}

QToolButton::menu-arrow {
    image: url(:/qss_icons/darkstyle_icons/down_arrow.png);
}

QToolButton::menu-arrow:open {
    border: 1px solid <border_color>;
}

QPushButton::menu-indicator {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    left: 8px;
}

QTableView {
    border: 1px solid <border_color>;
    gridline-color: <background_color>;
    background-color: <edit_background_color>;
}

QTableView,
QHeaderView {
    border-radius: 0px;
}

QTableView::item:pressed,
QListView::item:pressed,
QTreeView::item:pressed {
    background: <background_color>;
    color: <foreground_color>;
}

QTableView::item:selected:active,
QTreeView::item:selected:active,
QListView::item:selected:active {
    background: <selection_background_color>;
    color: <foreground_color>;
}

QHeaderView {
    background-color: <background_color>;
    border: 1px transparent;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

QHeaderView::section {
    background-color: <background_color>;
    color: <foreground_color>;
    padding: 5px;
    border: 1px solid <border_color>;
    border-radius: 0px;
    text-align: center;
}

QHeaderView::section::vertical::first,
QHeaderView::section::vertical::only-one {
    border-top: 1px solid <border_color>;
}

QHeaderView::section::vertical {
    border-top: transparent;
}

QHeaderView::section::horizontal::first,
QHeaderView::section::horizontal::only-one {
    border-left: 1px solid <border_color>;
}

QHeaderView::section::horizontal {
    border-left: transparent;
}

QHeaderView::section:checked {
    color: white;
    background-color: <border_color>;
}


/* style the sort indicator */

QHeaderView::down-arrow {
    image: url(:/qss_icons/darkstyle_icons/down_arrow.png);
}

QHeaderView::up-arrow {
    image: url(:/qss_icons/darkstyle_icons/up_arrow.png);
}

QTableCornerButton::section {
    background-color: <background_color>;
    border: 1px transparent <border_color>;
    border-radius: 0px;
}

QToolBox {
    padding: 5px;
    border: 1px transparent black;
}

QToolBox::tab {
    color: <foreground_color>;
    background-color: <background_color>;
    border: 1px solid <border_color>;
    border-bottom: 1px transparent <background_color>;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QToolBox::tab:selected {
    /* italicize selected tabs */
    font: italic;
    background-color: <background_color>;
    border-color: <selection_background_color>;
}

QStatusBar::item {
    border: 0px transparent dark;
}

QFrame[height="3"],
QFrame[width="3"] {
    background-color: <border_color>;
}

QSplitter::handle {
    border: 1px dashed <selection_background_color>;
}

QSplitter::handle:hover {
    background-color: <background_color>;
    border: 1px solid <tooltip_color>;
}

QSplitter::handle:horizontal {
    width: 1px;
}

QSplitter::handle:vertical {
    height: 1px;
}
QDateEdit {
    selection-background-color: <selection_background_color>;
    border-style: solid;
    border: 1px solid <border_color>;
    border-radius: 2px;
    padding: 1px;
    min-width: 75px;
}

QDateEdit:on {
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: <selection_background_color>;
}

QDateEdit QAbstractItemView {
    background-color: <edit_background_color>;
    border-radius: 2px;
    border: 1px solid <border_color>;
    selection-background-color: <selection_background_color>;
}

QDateEdit::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QDateEdit::down-arrow {
    image: url(:/qss_icons/darkstyle_icons/down_arrow_disabled.png);
}

QDateEdit::down-arrow:on,
QDateEdit::down-arrow:hover,
QDateEdit::down-arrow:focus {
    image: url(:/qss_icons/darkstyle_icons/down_arrow.png);
}

QProgressBar {
    border: 1px solid <border_color>;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: <selection_background_color>;
}
